<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.test.startup.testapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ua.nure.sensormonitoring.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ua.nure.sensormonitoring.GreetingsActivity" >
        </activity>
        <activity android:name="ua.nure.sensormonitoring.RegisterActivity" >
        </activity>
        <activity
            android:name="ua.nure.sensormonitoring.SensorListActivity"
            android:label="@string/title_activity_sensor_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="ua.nure.sensormonitoring.SubscriptionListActivity"
            android:label="@string/title_activity_subscription_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name="ua.nure.sensormonitoring.SensorPageActivity" >
        </activity>
    </application>

</manifest>
