.SensorView{
    padding: 30px;
    max-width: 500px;
    width: 100% !important;
    background-color: powderblue;
    margin: 2% auto 0;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
    cursor: pointer;
}

.sensor-list{

}

.add-button{
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: Verdana;
    font-size: 24px;
    position:relative;
    width: 25%;
    top:20px;
    left:35%;
    margin: auto;
    cursor: pointer;
}

.add-button:hover{
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}


.unsubscribe-button{
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: red;
    padding: 5px 0px;
    width: 40%;
    font-family: Verdana;
    font-size: 16px;
    cursor: pointer;
}

.unsubscribe-button:hover{
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: indianred;
}

.settings-button{
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: deepskyblue;
    padding: 5px 0px;
    width: 40%;
    font-family: Verdana;
    font-size: 16px;
    cursor: pointer;
}

.settings-button:hover{
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: dodgerblue;
}

.delete-button {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: red;
    padding: 17px 0px;
    font-family: Verdana;
    font-size: 24px;
}

.delete-button:hover{
    background-color: orangered;
    cursor: pointer;
}

.delete-button #delete-sensor{
    width: 100%;
}

.sensor-name {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: "Segoe UI";
    color: #001f3f;
}

.sensor-place {

    font-family: "Segoe UI";
    color: #001f3f;
}

.sensor-id{
    font-family: "Segoe UI";
    color: #001f3f;
}


.SubscriptionView{
    padding: 30px;
    max-width: 500px;
    width: 100% !important;
    background-color: #a6e1ec;
    margin: 2% auto 0;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
    cursor: pointer;
}

.reading-pre-value{
    margin: 0px;
    float: right;
    font-family: "Segoe UI";
    font-size: 36px;
}
